html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  display: grid;
  place-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 81px 36px 36px 36px;
}
.dashboard {
  width: 320px;
  height: 192px;
  margin-bottom: 120px;
  @media screen and (min-width: 850px) {
    width: 640px;
    height: 383px;
    margin-bottom: 72px;
  }
}
