/**
 * Basic typography style for copy text
 */
h1 {
  font-weight: 300;
  font-size: 22px;
  color: #969696;
  margin-bottom: 15px;
  @media screen and (min-width: 850px) {
    font-size: 48px;
  }
}
.title-dark {
  color: #15202a;
  font-weight: bold;
}
.sub-title {
  font-weight: 300;
  font-size: 12px;
  color: #15202a;
  @media screen and (min-width: 850px) {
    font-size: 20px;
  }
}
input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #b8c7ed;
  @media screen and (min-width: 850px) {
    font-size: 16px;
  }
}
.notify {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}
.copyright {
  font-weight: 300;
  font-size: 10px;
  color: #969696;
  @media screen and (min-width: 850px) {
    font-size: 12px;
  }
}
